:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 25px 5%;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* Custom Styles */
header nav a {
  color: #eee;
}

header nav a:not(:last-child) {
  margin-right: 20px;
}

header nav a:hover, header nav a.active {
  text-decoration: underline;
}

header nav button.create-btn {
  background: none;
  border: 2px solid #eee;
  padding: 5px 10px 6px;
  transition: all .3s;
}

header nav button.create-btn:hover {
  background: #eee;
  color: #444;
}

/* Note Form Styles */
.note-form {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 75vw;
  background: rgba(0, 0, 0, 0.9);
  padding: 50px 25px 75px;
  border-radius: 5px;
}

.note-form h1 {
  font-size: 2.3rem;
}

.note-form form > * {
  padding: 15px;
  margin-bottom: 15px; 
  border: none;
  border-radius: 7px;
}

.note-form form input {
  font-size: 1rem;
  outline-color: #0d684c;
}

.note-form form button {
  background: #16aa7b;
}

.note-form form button.cancel-btn {
  background: #777;
}

/* Home Page Styles */
.note {
  border: 1px solid #aaa;
  padding: 15px;
  margin-bottom: 15px;
}

.note button:not(:last-child) {
  margin-right: 10px;
}

.note .edit-btn {
  background: #c68606;
}

.note .delete-btn {
  background: #c81605;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}